<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="myDBConnection" connectionString="Data source=mysql.YOUSQLSERVER.com;Initial Catalog=YOURCATALOGNAME;user=YOURUSERNAME;password=YOURPASSWORD;SslMode=none"/>
  </connectionStrings>
</configuration>